.footer {
  @at-root #{&}__main {
    padding: 139px 0;
    position: relative;
    background: $black_level2;
    @include img_background('../assets/img/background/background.png');
    @include color_background($black_rgba);
  }

  @at-root #{&}__content {
    position: relative;
    z-index: 1;
  }

  @at-root #{&}__title {
    text-align: center;
    font-size: $font-main-title-s;
    font-weight: $medium;
    color: $main_color;
    margin-bottom: 8px;
  }

  @at-root #{&}__text {
    font-size: $font-main-size;
    color: $main_color;
    text-align: center;
  }

  @at-root #{&}__action {
    max-width: 552px;
    margin: 60px auto 0;
    display: flex;
  }

  @at-root #{&}__copyright {
    @include flexCenter;
    padding: 26px 0 24px;
    background: $black;
    color: $grey;
    font-size: $font-main-size;
    font-family: $english-font;
    font-weight: $thin;
    direction: ltr;
  }
}
