.intro {
  position: relative;
  background: rgba(34, 57, 155, 0.8);
  @include img_background('../assets/img/background/background.png');
  @include color_background(rgba(34, 57, 155, 0.8));
  padding: 150px 15px 111px 15px;

  @at-root #{&}__wrapper {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
  }

  @at-root #{&}__logo {
    max-width: 174px;
    display: block;
    margin: 0 auto 86px;
  }

  @at-root #{&}__title {
    font-size: $font-main-title;
    font-weight: $medium;
    color: $main_color;
    text-align: center;
    margin-bottom: 8px;
  }

  @at-root #{&}__text {
    font-size: $font-main-size;
    color: $main_color;
    text-align: center;
  }

  @at-root #{&}__action {
    margin: 64px auto 0;
    max-width: 474px;
    display: flex;
  }
}
