.services {
  padding: 110px 0;

  @at-root #{&}__intro {
    max-width: 700px;
    margin: 0 auto;
  }

  @at-root #{&}__title {
    margin-bottom: 16px;
    font-size: $font-main-title-s;
    font-weight: $medium;
    color: $black;
    text-align: center;
  }

  @at-root #{&}__text {
    margin-bottom: 62px;
    font-size: $font-main-size;
    color: $grey_level3;
    text-align: center;
  }

  @at-root #{&}__pic {
    position: relative;
  }

  @at-root #{&}__back {
    background-image: url(../assets/img/Image_246.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 276px;
    width: 417px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  @at-root #{&}__back--design {
    background-image: url(../assets/img/Image_246.png);
  }

  @at-root #{&}__back--seo {
    background-image: url(../assets/img/Image_255.png);
  }

  @at-root #{&}__back--fiscal {
    background-image: url(../assets/img/Image_254.png);
  }

  @at-root #{&}__img {
    position: relative;
    max-width: 414px;
    height: 276px;
    display: block;
    z-index: 1;
  }

  @at-root #{&}__action {
    position: relative;
    border-radius: 4px;
    background: $background_white;
    box-shadow: 0px 3px 46px rgba(0, 0, 0, 0.1);
    max-width: 372px;
    margin: -52px auto 0;
    padding: 43px 40px 42px;
    z-index: 2;
  }

  @at-root #{&}__type {
    font-weight: $medium;
    font-size: 20px;
    color: $black;
    text-align: center;
    margin-bottom: 9px;
  }

  @at-root #{&}__desc {
    font-weight: $light;
    font-size: $font-main-size-r;
    color: #62758d;
    text-align: center;
    margin-bottom: 40px;
  }

  @at-root #{&}__container {
    max-width: 256px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
  }
}
