@mixin btn {
    border-radius: 4px;
    font-size: $btn-main-size;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main_color;
    text-decoration: none;
}

@mixin img_background($color) {
    background-image: (linear-gradient($color),
        ), url('../assets/img/background/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}