@import './sass/css_reset';
@import './sass/var';

body {
    font-family: $font-family-vazir;
    direction: rtl;
    text-align: right;
}

@mixin inputTypography {
    font-family: inherit;
    font-size: $input_font_size;
    color: $black_gray;
}

.register {
    max-width: $main_container_width;
    margin: 140px auto;

    @at-root #{&}__logo {
        display: block;
        margin: 0 auto;
        width: 163px;
    }

    @at-root #{&}__title {
        color: $main_title_color;
        font-size: $header_text_font_size;
        font-weight: $medium;
        max-width: 768px;
        margin: 45px auto 43px;
        text-align: center;
    }

    @at-root #{&}__form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }

    @at-root #{&}__action {
        display: flex;
        flex-direction: row-reverse;
    }

    @at-root #{&}__image-container {
        width: 376px;
        display: flex;
        align-items: center;
    }

    @at-root #{&}__paragraph {
        max-width: 572px;
        color: $main_color_transparent_60;
        font-size: $main_text_font_size;
        margin-bottom: 32px;
        text-align: right;
    }

    @at-root #{&}__paragraph:nth-last-of-type(1) {
        margin-bottom: 0;
    }

    @at-root #{&}__paragraph--small {
        color: $main_color_transparent_50;
        font-size: $main_small_text_font_size;
    }

    @at-root #{&}__form {
        margin-top: 61px;
    }

    @at-root #{&}__input {
        padding-right: 10px;
        border: 1px solid;
        border-radius: 4px;
        background: $light_gray;
        @include inputTypography;
        width: 376px;
        height: 64px;
    }

    @at-root #{&}__input::-webkit-input-placeholder {
        @include inputTypography;
    }

    @at-root #{&}__input::-moz-placeholder {
        @include inputTypography;
    }

    @at-root #{&}__input:-ms-input-placeholder {
        @include inputTypography;
    }

    @at-root #{&}__input::placeholder {
        @include inputTypography;
    }

    @at-root #{&}__button {
        margin-right: 16px;
        border: 1px solid;
        border-radius: 4px;
        background: $main_color;
        font-size: $button_font_size;
        font-weight: $medium;
        font-family: inherit;
        color: $white_color;
        width: 278px;
        height: 64px;
    }

    @at-root #{&}__button--blue {
        background: $btn_color;
    }
}

@media only screen and (max-width: $desktop_responsive) {
    .register {
        max-width: 80%;
        margin: 70px auto;
        @at-root #{&}__form-container {
            margin-left: 10px;
        }

        @at-root #{&}__button {
            margin: 10px 0 0;
            width: 376px;   
        }

        @at-root #{&}__input {
            display: block;
        }
    }
}

@media only screen and (max-width: $tablet_M_responsive) {
    .register {
        @at-root #{&}__action {
            flex-direction: column;
        }

        @at-root #{&}__form-container {
            margin-left: 0;
        }

        @at-root #{&}__form {
            margin-top: 31px;
        }

        @at-root #{&}__paragraph {
            max-width: 100%;
            text-align: center;
        }

        @at-root #{&}__image-container {
            margin: 0 auto 40px;
        }

        @at-root #{&}__button {
            width: 376px;
            margin: 16px auto 0;
            display: block;
        }

        @at-root #{&}__input {
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: $mobile_responsive) {
    .register {
        margin: 46px auto;

        @at-root #{&}__title {
            font-size: $header_text_font_size - 8;
            max-width: 100%;
            margin: 50px auto 40px;
        }

        @at-root #{&}__image-container {
            width: 100%;
        }

        @at-root #{&}__paragraph {
            font-size: $main_small_text_font_size;
            margin-bottom: 24px;
        }

        @at-root #{&}__paragraph--small {
            font-size: $main_small_text_font_size;
        }

        @at-root #{&}__button {
            width: 100%;
            height: 48px;
            margin: 16px 0 0;
            font-size: $button_font_size + 1;
        }

        @at-root #{&}__input {
            width: 100%;
            height: 44px;
            font-size: $main_small_text_font_size - 5;
        }
    }
}