/*
* Css Reset
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*
* Font
*/
@font-face {
  font-family: 'Vazir';
  font-weight: 300;
  src: url("../assets/fonts/vazir/light/vazir-light.eot");
  src: url("../assets/fonts/vazir/light/vazir-light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/vazir/light/vazir-light.woff") format("woff"), url("../assets/fonts/vazir/light/vazir-light.ttf") format("truetype");
}

@font-face {
  font-family: 'Vazir';
  font-weight: normal;
  src: url("../assets/fonts/vazir/normal/vazir-normal.eot");
  src: url("../assets/fonts/vazir/normal/vazir-normal.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/vazir/normal/vazir-normal.woff") format("woff"), url("../assets/fonts/vazir/normal/vazir-normal.ttf") format("truetype");
}

@font-face {
  font-family: 'Vazir';
  font-weight: 500;
  src: url("../assets/fonts/vazir/medium/vazir-medium.eot");
  src: url("../assets/fonts/vazir/medium/vazir-medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/vazir/medium/vazir-medium.woff") format("woff"), url("../assets/fonts/vazir/medium/vazir-medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Vazir';
  font-weight: bold;
  src: url("../assets/fonts/vazir/bold/vazir-bold.eot");
  src: url("../assets/fonts/vazir/bold/vazir-bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/vazir/bold/vazir-bold.woff") format("woff"), url("../assets/fonts/vazir/bold/vazir-bold.ttf") format("truetype");
}

body {
  font-family: "Vazir";
  direction: rtl;
  text-align: right;
}

.register {
  max-width: 1160px;
  margin: 140px auto;
}

.register__logo {
  display: block;
  margin: 0 auto;
  width: 163px;
}

.register__title {
  color: #303336;
  font-size: 32px;
  font-weight: 500;
  max-width: 768px;
  margin: 45px auto 43px;
  text-align: center;
}

.register__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.register__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.register__image-container {
  width: 376px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register__paragraph {
  max-width: 572px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  margin-bottom: 32px;
  text-align: right;
}

.register__paragraph:nth-last-of-type(1) {
  margin-bottom: 0;
}

.register__paragraph--small {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.register__form {
  margin-top: 61px;
}

.register__input {
  padding-right: 10px;
  border: 1px solid;
  border-radius: 4px;
  background: #F5F7FA;
  font-family: inherit;
  font-size: 17px;
  color: #7F7F7F;
  width: 376px;
  height: 64px;
}

.register__input::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 17px;
  color: #7F7F7F;
}

.register__input:-ms-input-placeholder {
  font-family: inherit;
  font-size: 17px;
  color: #7F7F7F;
}

.register__input::-ms-input-placeholder {
  font-family: inherit;
  font-size: 17px;
  color: #7F7F7F;
}

.register__input::placeholder {
  font-family: inherit;
  font-size: 17px;
  color: #7F7F7F;
}

.register__button {
  margin-right: 16px;
  border: 1px solid;
  border-radius: 4px;
  background: #000000;
  font-size: 19px;
  font-weight: 500;
  font-family: inherit;
  color: #fff;
  width: 278px;
  height: 64px;
}

.register__button--blue {
  background: #3081E9;
}

@media only screen and (max-width: 1260px) {
  .register {
    max-width: 80%;
    margin: 70px auto;
  }
  .register__form-container {
    margin-left: 10px;
  }
  .register__button {
    margin: 10px 0 0;
    width: 376px;
  }
  .register__input {
    display: block;
  }
}

@media only screen and (max-width: 757px) {
  .register__action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .register__form-container {
    margin-left: 0;
  }
  .register__form {
    margin-top: 31px;
  }
  .register__paragraph {
    max-width: 100%;
    text-align: center;
  }
  .register__image-container {
    margin: 0 auto 40px;
  }
  .register__button {
    width: 376px;
    margin: 16px auto 0;
    display: block;
  }
  .register__input {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 480px) {
  .register {
    margin: 46px auto;
  }
  .register__title {
    font-size: 24px;
    max-width: 100%;
    margin: 50px auto 40px;
  }
  .register__image-container {
    width: 100%;
  }
  .register__paragraph {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .register__paragraph--small {
    font-size: 16px;
  }
  .register__button {
    width: 100%;
    height: 48px;
    margin: 16px 0 0;
    font-size: 20px;
  }
  .register__input {
    width: 100%;
    height: 44px;
    font-size: 11px;
  }
}
/*# sourceMappingURL=style.css.map */