
.menu {

    background: $black_soft;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15%);

    &__wrapper {
        width: 1440px;
        height: 100px;
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        color: $white;

        a {
            color: $white;
        }
    }

    /*
    * Menu navigation
    */
    &__nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__list {
        display: flex;
    }

    &__item {
        margin-left: 15px;
    }

    &__link {
        font-size: $medium-font-size;
        padding: $area_link;
    }

    &__sub {
        padding-top: 0;
        cursor: pointer;
    }

    &__sub-menu {
        width: 150px;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background: #212121;
        border-radius: 5px;
        top: 35px;
    }

    &__sub-link {
        padding: 5px;
        font-size: $main-font-size;
        display: block;
    }

    &__arrow {
        @extend %arrow;
        margin-right: 6px;
    
        &--down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }

    /*
    * Contact info
    */

    &__contact {
        margin-right: auto;
    }

    &__tel {
        font-size: $main-font-size;
        text-align: left;
    }

    &__tel-number {
        font-size: $medium-font-size;
        font-weight: 500;
        padding: 0 5px 5px 0;
        display: flex;
        flex-direction: row-reverse;
    }

    &__area-number {
        font-size: $main-font-size;
        font-weight: normal;
        margin: 6px 7px 0 0;
    }

    /*
    * Logo and site title
    */

    &__logo {
        @extend %clearfix;
    }

    &__img-logo {
        margin-left: 16px;
        width: 47px;
        float: right;
    }

    &__text-wrapper {
        float: left;
    }

    &__site-title {
        font-size: $medium-font-size;
        margin-bottom: 2px;
        font-weight: 500;
        line-height: 27px;
    }

    &__site-desc {
        font-size: $main-font-size;
        line-height: 21px;
    }
}
