.slider {
    height: calc(100vh - 100px);
    background: $black;
    color: $white;

    &__wrapper {
        height: 100%;
    }

    &__item {
        position: relative;
        @extend %full-bg;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.201);
            z-index: 1;
          }
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        z-index: 2;
    }

    &__desc {
        font-size: 28px;
        color: #fff;
        color: rgba(255, 255, 255, 0.6);
        z-index: 2;
    }

}