@import './sass/css_reset';
@import './sass/var';

body {
    font-family: $font-family-vazir;
    display: flex;
    direction: rtl;
    text-align: right;
    align-content: center;
    justify-content: center;
}

.site-header {
    width: $main_container_width;
    height: $main_container_height;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 140px;

    @at-root #{&}__logo-img {
        width: 163px;
    }

    @at-root #{&}__nav-container {
        margin-right: auto;      
    }

    @at-root #{&}__main-menu {
        float: right;
    }

    @at-root #{&}__menu-list {
        list-style-type: none;        
    }

    @at-root #{&}__menu-item {
        display: inline-block;
        margin-right: 10px;        
    }

    @at-root #{&}__menu-item:first-child {
        margin-right: 0;
    }

    @at-root #{&}__item-link {
        text-decoration: none;
        padding: 10px;
        color: $main_color;
        color: $main_color_transparent;
        font-size: $main_font_size;        
    }

    @at-root #{&}__social-menu {
        float: left;
        margin-right: 30px;
    }

    @at-root #{&}__social-item {
        display: inline-block;
        margin-right: 20px;
    }

    @at-root #{&}__social-item:first-child {
        margin-right: 0;
    }

    @at-root #{&}__social-icon {
        width: $social_size;
        height: $social_size;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}