/*
* Var
*/
$black_soft: #333333;
$black: #212121;
$white: #fff;

$main-font-size: 16px;
$medium-font-size: $main-font-size + 4;

$area_link: 5px;

body {
	text-align: right;
	direction: rtl;
}

@import './index/modules/arrow';
@import './index/menu';
@import './index/slider';