@media only screen and (max-width: $lg) {
	.menu {
		&__item {
			margin-left: 20px;
		}
	}
}

@media only screen and (max-width: $md) {

	.menu {
		&__hum {
			margin-right: auto;
			visibility: visible;
			opacity: 1;
		}

		&__nav {
			position: relative;
			top: 0;
			right: 0;
			transform: none;
			margin-top: 164px;

			&:after {
				content: "";
				width: 17px;
				height: 1px;
				background: rgba(255, 255, 255, 0.5);
				display: block;
				margin: 63px auto 54px;
			}
		}

		&__ham-wrapper {
			background: #333333;
			height: 100vh;
			width: 100vw;
			margin-right: 0;
			position: absolute;
			right: 0;
			top: 0;
			transform: translateX(100%);
			overflow-y: auto;
			opacity: 0;
			visibility: hidden;
		}

		&__list {
			display: flex;
			flex-direction: column;
			& li:last-child {
				margin-bottom: 0;
			}
		}

		&__link {
			font-size: 24px;
			font-weight: 500;
		}

		&__item {
			margin-left: 0;
			text-align: center;
			margin-bottom: 35px;
		}

		&__sub {
			&:hover .menu__sub-menu {
				width: 150px;
				opacity: 1;
				visibility: visible;
				position: relative;
				background: transparent;
				top: 5px;
				margin: 0 auto;
			}

			.menu__arrow {
				position: relative;
				bottom: 0;
			}
		}

		&__contact {
			max-width: 100px;
			margin: 0 auto 76px;
		}

		&__area-number {
			margin: 4px 7px 0 0;
		}

		&__logo,
		&__hum,
		&__contact {
			z-index: 101;
		}
	}
}


@media only screen and (max-width: $sm) {

	.menu {
		&__logo {
			background: #333;
			display: block;
			width: 100%;
			padding: 28px 0 23px;
		}
	
		&__text-wrapper {
			float: right;
		}
	}

	.slider__nav {
		right: 42%;
	}
}

@media only screen and (max-width: $xxs) {

	.menu {
		&__wrapper {
			padding: 0 24px;
		}

	}

	.slider {
		&__title {
			font-size: 21px;
		}

		&__desc {
			font-size: 20px;
		}

		&__nav {
			right: 36%;
		}
	}
}