@media only screen and (max-width: $lg) {
	.menu {
		&__item {
			margin-left: 20px;
		}
	}
}

@media only screen and (max-width: $md) {
	.menu {
		&__hum {
			margin-right: auto;
			visibility: visible;
			opacity: 1;
		}

		&__nav {
			position: relative;
			top: 0;
			left: 0;
			transform: none;
		}

		&__ham-wrapper {
			margin-right: 0;
			position: absolute;
			right: -40em;
			top: 0;
		}
	}
}


@media only screen and (max-width: $sm) {
	.slider__nav {
		right: 42%;
	}
}

@media only screen and (max-width: $xxs) {

	.menu {
		&__wrapper {
			padding: 0 24px;
		}
		
	}

	.slider {
		&__title {
			font-size: 21px;
		}

		&__desc {
			font-size: 20px;
		}

		&__nav {
			right: 36%;
		}
	}
}